.btn_connexion_submit {
    padding: 0.5rem;
}

.mot_de_passe_oublie {
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    bottom: 1rem;
    transition: color 0.3s ease;
}

.mot_de_passe_oublie:hover {
    text-decoration: underline;
}

.creation_compte {
    color: var(--text-color);
    text-decoration: none;
}

.btn_creation_compte {
    display: flex;
    background-color: transparent;
    margin: 0.5rem auto 3rem;
    padding: 0.5rem;
    width: 100%;
    position: relative;
    top: 1rem;
    border: 2px solid rgba(25, 36, 255, 0.950);
    border-radius: 8px;
    cursor: pointer;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn_creation_compte:hover {
    background-color: rgba(230, 232, 255, 0.7);
    border: 2px solid rgb(25, 36, 255);
}