.creation_du_compte_section {
    
}

.creation_du_compte_section h3 {
    text-align: center;
}

.deja_inscrit {
    text-decoration: none;
    color: var(--text-color);
    margin-bottom: 1.5rem;
    text-align: center;
}

.deja_inscrit:hover {
    text-decoration: underline;
}
