/* Reservation CSS */
.reservation label {
    display: block;
    margin-bottom: 0.5rem;
}

.mes_reservations {
    display: flex;
    margin-top: 10px;
    gap: 0.5rem;
}

.produit-group {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
    justify-content: center;
}

.produit-group input {
    width: 125px;
}

.ajouter_produit {
    width: 25px;
    position: relative;
    bottom: 4px;
}

select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn_reservation_submit {
    margin: 1rem 0 2rem;
}