/* Tableau de bord CSS */
.suivi_reservation,
.suivi_commission {

}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto; /* centre le tableau */
    table-layout: fixed; /* colonnes largeur égale */
}

caption {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
}

th, td {
    font-size: 0.9rem;
    font-weight: 500;
    width: 1%; /* force la largeur égale avec table-layout: fixed */
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    word-break: break-word;
}